---
### group_vars/FABRIC.yml

fabric_name: FABRIC

custom_structured_configuration_prefix:
  - "csc_"

# Local users
aaa_settings:
  local_users:
    - name: arista
      privilege: 15
      role: network-admin
      # Password set to "arista123". Same string as the device generates when configuring a username.
      sha512_password: $6$OlSQTjXHo7mmIW1I$6lZA3DU96STseOhmbuyRF8pRtFi50wBf7dbbPqjN6wJnPu4/cTDFL.pWerh4Jw26uCTGetW9M4IBKKxgzM/Oo1
    - name: ansible
      privilege: 15
      role: network-admin
      # Password set to "ansible". Same string as the device generates when configuring a username.
      sha512_password: $6$PSA4aPswd2HDdmSm$FqLt3zbElJ9b9tozHnWTarL3n2PJYHcTe82nnNVnNHS/YKYOpqVuQszgXkFcGnrfW0ox6fM/KkhTVKws4uYL4/
    - name: admin
      privilege: 15
      role: network-admin
      no_password: true

csc_aaa_authentication:
  policies:
    local:
      allow_nopassword: true

# AAA Authorization
csc_aaa_authorization:
  exec:
    default: local

# Multi-line string with one or more alias commands.
csc_aliases: |
  alias siib show ip interface brief
  alias cc clear counters
  alias cp clear platform trident counters 
  alias senz show interface counter error | nz 
  alias snz show interface counter | nz 
  alias sqnz show interface counter queue | nz 
  alias srnz show interface counter rate | nz
  alias shrte show ip route
  alias showcon show interfaces status | grep connected    
  alias sa show active 
  alias clrcounters clear counters
  alias wrtme write mem
  alias spc show port-channel %1 detail all   
  alias ports show int sta | grep "connected\| disabled" 
  alias shmc show int | awk '/^[A-Z]/ { intf = $1 } /, address is/ { print intf, $6 }'
  alias term_logs sh agent TerminAttr logs | tail
  alias spcd show port-channel dense

# BGP defaults
bgp_default_ipv4_unicast: false
bgp_update_wait_install: false
bgp_update_wait_for_convergence: false
bgp_distance:
  external_routes: 20
  internal_routes: 200
  local_routes: 200
bgp_graceful_restart:
  enabled: True
  restart_time: 300

# BGP peer groups passwords
bgp_peer_groups:
  # all passwords set to "arista"
  evpn_overlay_peers:
    password: Q4fqtbqcZ7oQuKfuWtNGRQ==
  ipv4_underlay_peers:
    password: 7x4B4rnJhZB438m9+BrBfQ==
  mlag_ipv4_underlay_peer:
    password: 4b21pAdCvWeAqpcKDFMdWw==

# EVENG Labs
cv_settings:
  cvaas:
    enabled: true
    clusters:
      - name: cvaas
        region: staging
        vrf: use_mgmt_interface_vrf
        token_file: /tmp/cv-onboarding-token
  terminattr:
    ingestexclude: /Sysdb/cell/1/agent,/Sysdb/cell/2/agent
    smashexcludes: ale,flexCounter,hardware,kni,pulse,strata
    disable_aaa: true

# # ACT Labs
# cv_settings:
#   onprem_clusters:
#     - name: act_cvp
#       servers:
#         - name: 192.168.222.2
#           port: 9910
#       vrf: use_mgmt_interface_vrf
#       token_file: /tmp/token
#   terminattr:
#     ingestexclude: /Sysdb/cell/1/agent,/Sysdb/cell/2/agent
#     smashexcludes: ale,flexCounter,hardware,kni,pulse,strata
#     disable_aaa: true

digital_twin:
  # Targeted Digital Twin environment.
  environment: act

  # Settings for Digital Twin fabric devices.
  fabric:
    act_os_version: 4.34.2F
    act_username: ansible
    act_password: ansible
    act_internet_access: true
    act_ensure_eapi_access: true
  use_default_interfaces_of_digital_twin_platform: false

# Generate CSVs with fabric link info.
eos_designs_documentation:
  topology_csv: true
  p2p_links_csv: true

csc_ip_name_servers:
  - ip_address: 1.1.1.1
    vrf: MGMT
  - ip_address: 8.8.8.8
    vrf: MGMT

csc_ip_routing: true

csc_logging:
  monitor: "debugging"

csc_management_api_http:
  enable_https: true
  enable_vrfs:
    - name: MGMT
    - name: default

# OOB Management network default gateway.
mgmt_gateway: 192.168.223.1
mgmt_interface: Management0

csc_ntp:
  servers:
    - name: time.google.com
      preferred: true
      vrf: MGMT
      iburst: true

#### Override for vEOS/cEOS Lab Caveats ####
p2p_uplinks_mtu: 1500

csc_service_routing_protocols_model: multi-agent

csc_sflow:
  sample: 1000
  polling_interval: 20
  destinations:
    - destination: 127.0.0.1
  source_interface: Loopback0
  run: true

# Define underlay and overlay routing protocol to be used
underlay_routing_protocol: ebgp
overlay_routing_protocol: none
