---
### group_vars/NETWORK_SERVICES.yml

tenants:
  - name: TENANT1
    vrfs:
      - name: default
        svis:
          - id: 110
            name: 'CA1-IDF1-Data'
            tags: ["110"]
            enabled: true
            ip_virtual_router_addresses:
              - 10.1.10.1
            nodes:
              - node: CA1-SPINE1
                ip_address: 10.1.10.2/24
              - node: CA1-SPINE2
                ip_address: 10.1.10.3/24
            ip_helpers:
              - ip_helper: 10.0.0.1
          - id: 111
            name: 'CA1-IDF1-Voice'
            tags: ["111"]
            enabled: true
            ip_virtual_router_addresses:
              - 10.1.11.1
            nodes:
              - node: CA1-SPINE1
                ip_address: 10.1.11.2/24
              - node: CA1-SPINE2
                ip_address: 10.1.11.3/24
            ip_helpers:
              - ip_helper: 10.0.0.1
          - id: 112
            name: 'CA1-IDF1-Guest'
            tags: ["112"]
            enabled: true
            ip_virtual_router_addresses:
              - 10.1.12.1
            nodes:
              - node: CA1-SPINE1
                ip_address: 10.1.12.2/24
              - node: CA1-SPINE2
                ip_address: 10.1.12.3/24
            ip_helpers:
              - ip_helper: 10.0.0.1